.pio
.vscode
*.xlsx
script
build
新建文件夹
lib/BQ27441
examples/usb_msc_flash
examples/bq27220_test
firmware/T-Embed-PN532 测试/
hardware/T-Embed-PN532 V1.0 24-03-15.pdf
hardware/T-Embed-PN532 V1.0 24-04-29.pdf
